<p>
I am a Ph.D. student in <a href="https://stanfordmlgroup.github.io/">Stanford Machine Learning Group</a> and <a href="https://policylab.stanford.edu/">Stanford Computational Policy Lab</a> at <a href="https://www.stanford.edu/">Stanford University</a>, where I work on machine learning, computer vision  as well as their applications in sustainability and social goods. I am advised by <a href="https://en.wikipedia.org/wiki/Andrew_Ng">Andrew Y. Ng</a> and <a href="https://5harad.com/">Sharad Goel</a>.
</p>

<p>
From 2017 to 2019, I worked at <a href="https://www.landing.ai">Landing AI</a> where we initiated the AI-powered transformation of many industries. 
I primarily designed computer vision algorithms for efficient visual inspections (both static images and videos). 
Previously, I have spent time at <a href="https://www.bytedance.com/en/">Bytedance</a>, <a href="http://www.cicc.com/index_en.xhtml">CICC</a>, <a href="https://www.aboutamazon.com/">Amazon</a>, and <a href="https://www.citadel.com/">Citadel</a>.
</p>

<p>
I got my M.S. in Computational Engineering from <a href="http://icme.stanford.edu">ICME, Stanford University</a>.
<!--, where I TAed <a href="http://cs229.stanford.edu/projects2016/">CS229 (2016 Fall)</a>, <a href="https://ee364.stanford.edu">EE364A (2017 Spring)</a> and <a href="https://edusalsa.com/course?c=OIT%20274">OIT274 (2019 Spring)</a>.  -->
I have a B.A. in PPE (Philosophy, Political Science and Economics) and a B.S. in Applied Mathematics from <a href="http://english.pku.edu.cn/">Yuanpei College, Peking University</a>. 
I exchanged at <a href="https://www.hec.edu/en"> HEC Paris</a> and <a href="http://www.cuhk.edu.hk/">CUHK </a>
</p>

