<!-- <a target="_blank" href="{{ site.user.email.send }}"> Email</a> &nbsp;/&nbsp; -->

{% if site.user.cv %}<a href="{{ site.user.cv }}">CV</a> &nbsp;/&nbsp;{% endif %}
<a href="{{ site.user.scholar | prepend: 'https://scholar.google.com/citations?user=' }}">Google Scholar</a> &nbsp;/&nbsp;
{% if site.user.publications %}<a href="{{ site.user.publications }}">Publications</a> &nbsp;/&nbsp;{% endif %}
<a href="{{ site.user.github | prepend: 'https://github.com/' }}">GitHub</a> &nbsp;/&nbsp;
<!-- <a href="{{ site.user.notebook }}">Notebook</a> &nbsp;/&nbsp; -->
<a href="{{ site.user.linkedin | prepend: 'https://www.linkedin.com/in/' }}"> LinkedIn</a> &nbsp;/&nbsp;
<a href="{{ site.user.amazon | prepend: 'https://www.amazon.com/stores/author/' }}">Amazon Books</a>


